<div style="text-align:center;">
    <img src="images/medium ee shot.png" alt="">  </img>
</div>
<div><h1>Sv.Odin</h1></div>
<div style="text-align:center;">
  <h1>True Money Exchange Rate</h1>
    <img src="images/true money rate 03-mar-2012.png" alt="">  </img>
  </br>อัพเดทล่าสุด 03-March-2012
</div>
     <div style="text-align:center;">____________________________________________________________________________</div>
<div style="text-align:center;">
  <h1>Transfer/Cash Exchange Rate</h1>
    <img src="images/transfer rate 03-mar-2012.png" alt="">  </img>
  </br>อัพเดทล่าสุด 03-March-2012
</div>
 <div style="text-align:center;">____________________________________________________________________________</div>
<div><h1>Sv.Loki -Coming Soon-</h1></div>
<div><h1>Sv.Thor -Coming Soon-</h1></div>